@import './font.scss';

html {
  font-family: Poppins, Helvetica Neue, Arial;
  font-size: 16px;
}

body {
  font-size: 0.875rem;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: var(--color-black-darkest);
}

:root {
  --max-width-xxs : 360px;
  --max-width-xs : 480px;
  --max-width-sm : 640px;
  --max-width-md : 1024px;
  --max-width-lg : 1320px;

  --baseline : 30px;

  --color-black-lightest: #f1f1f1;
  --color-black-lighter: #dddddd;
  --color-black-darkest: #333333;
  --color-gold: #e0aa32;
}

img {
  max-width: 100%;
  width: auto;
}

h1, h2, h3, h4 {
  line-height: 1.2;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

h1 { font-size: 3rem; }

h2 { font-size: 2.25rem; }

h3 {  font-size: 2rem; }

h4 { font-size: 1.125rem; }

h5 {
  font-size: initial;
  margin: 0;
}

h6 { font-size: 20px; }
