.button {
	border-radius: 999px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 0.75rem 1.5rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  &__icon {
    display: flex;
    align-items: center;
    &--left {
      padding-right: 0.5rem;
    }
    &--right {
      padding-left: 0.5rem;
    }
  }
	&--link {
		padding: 0;
		a {
			display: block;
			padding: 0.75rem 1.5rem;
		}
	}
	&--primary {
		color: white;
		background: var(--color-gold);
		border: 2px var(--color-gold) solid;
		a {
			color: white;
			text-decoration: none;
			display: inline-block;
		}
		&:hover {
			background: var(--color-gold-darker);
			border: 2px var(--color-gold-darker) solid;
		} 
	}
	&--secondary {
		background: none;
		color: var(--color-gold);
		border: 2px var(--color-gold) solid;
		a {
			color: var(--color-gold);
		}
		&:hover {
			background: var(--color-gold);
			a {
				color: white;
			}
		} 
	}
  a:hover {
    text-decoration: none;
  }
}