.input {
	input {
		border: none;
		border-bottom: 1px solid var(--color-gold);
		display: block;
		font-family: Poppins, Helvetica Neue, Arial;
		line-height: 1.6rem;
		outline: none;
		padding: 0.5rem 0;
		width: 100%;
	}
}