.cards-images {
  padding: 3rem 0;
  h4 {
    padding-bottom: 1rem;
  }
  .cards-images {
    &__items {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
    }
    &__item {
      background-repeat: none;
      background-size: cover;
      border-radius: 0.25rem;
      box-sizing: border-box;
      color: white;
      min-height: 110px;
      padding: 1rem;
      text-align: center;
      p {
        margin: 0;
      }
    }
    &__cta {
      align-items: center;
      border: 2px solid var(--color-gold);
      border-radius: 0.25rem;
      color: var(--color-gold);
      display: flex;
      justify-content: center;
      &:hover {
        background-color: var(--color-gold);
        color: white;
        text-decoration: none;
      }
    }
  }
}
