.blocks {
  display: flex;
  flex-wrap: wrap;
  section {
    width: 100%;
  }
  &__half-sections {
    display: grid;
    grid-column-gap: 6rem;
    grid-template-columns: repeat(2, 1fr);
  }
  &--light {
    background: var(--color-black-lightest);
  }
}